/* style for pop up mailchimp notification */


/* wrapper for sendy success notification */

#wrapper {
    background: #1dc020;
    width: 300px;
    color: #fff;
    height: 70px;
    margin: -140px 0 0 -150px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

body {
    font-family: 'Roboto', sans-serif
}

.title {
    color: #222324;
    font-size: 28px;
    line-height: 150%
}

.hero-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.tile.is-parent {
    padding: 0
}

.is-orange {
    background-color: #f69f1b;
    color: #fff;
    border: 0;
    width: 140px;
    border-radius: 2px;
    text-align: center
}

.is-orange:hover {
    background-color: #cd7e06;
    color: #fff;
    border: 0
}

.button:hover,
.button:focus,
.button.is-active {
    color: #fff!important
}

.top-space {
    margin-top: 20px
}

#maliyo-bg {
    background-image: url(img/maliyo-background-1.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover
}

#box-bg {
    background-color: rgba(100, 15, 19, .8)
}

.white-text {
    color: #fff!important
}

.white-text-1 {
    color: rgba(255, 255, 255, .8)!important
}

.container-padding {
    padding: 120px 40px 130px 40px
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 1px!important;
    border-style: inset;
    border-color: initial;
    border-image: initial
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 14px;
    -webkit-transition: all .3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all .3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #ddd));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ddd 4%);
    background-position: -360px 0;
    background-repeat: no-repeat;
    color: #fff;
}

input:focus {
    border-bottom: solid 2px #f69f1b!important;
    background: 0;
    background-position: -360px 0
}

input:focus,
input:valid,
select:focus,
select:valid {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    background-position: 0 0
}

::-webkit-input-placeholder {
    color: rgba(225, 225, 225, .8)
}

:-moz-placeholder {
    color: rgba(225, 225, 225, .8)
}

::-moz-placeholder {
    color: rgba(225, 225, 225, .8)
}

:-ms-input-placeholder {
    color: rgba(225, 225, 225, .8)
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0
}

h1,
.h1 {
    font-size: 40px;
    line-height: 48px
}

h2,
.h2 {
    font-size: 30px;
    line-height: 40px
}

h3,
.h3 {
    font-size: 1.78571429em;
    line-height: 1.5em
}

h4,
.h4 {
    font-size: 1.35714286em;
    line-height: 1.68421053em
}

h5,
.h5 {
    font-size: 15px;
    line-height: 40px
}

h6,
.h6 {
    font-size: 11px;
    line-height: 2.166666666666667em;
    font-weight: 700!important;
    letter-spacing: 1px
}

p {
    font-size: 20px
}

.column.is-6.mobile {
    text-align: center;
    margin-bottom: 15px
}

@media screen and (max-width:768px) {
    .is-block-mobile {
        display: block!important
    }
    .column.is-7 {
        display: none
    }
    .container-padding {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px
    }
    #box-bg {
        text-align: center
    }
    form {
        width: 100%;
        margin: 0 auto
    }
    .control {
        position: relative;
        text-align: center
    }
    #maliyo-bg:not(#box-bg) {
        background: linear-gradient(rgba(100, 15, 19, .8), rgba(100, 15, 19, .8)), url(img/maliyo-.jpg);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover
    }
    #box-bg:not(#maliyo-bg) {
        background-color: #fff;
        color: #505050
    }
    .title {
        color: #222324;
        font-size: 16px;
        line-height: 150%
    }
    img.desktop {
        display: none
    }
    h1.title.white-text {
        color: #505050!important
    }
    h2.title.white-text {
        color: #505050!important
    }
    p {
        color: #505050
    }
     ::-webkit-input-placeholder {
        color: rgba(80, 80, 80, 1);
        font-size: 12px
    }
}

:-moz-placeholder {
    color: rgba(80, 80, 80, 1);
    font-size: 12px
}

::-moz-placeholder {
    color: rgba(80, 80, 80, 1);
    font-size: 12px
}


}
:-ms-input-placeholder {
    color: rgba(80, 80, 80, 1);
    font-size: 12px
}
p {
    font-size: 12px
}
@media screen and (min-width:769px) {
    img.mobile {
        display: none
    }
    
    .column.is-6.mobile {
        display: none
    }
    
    p {
        font-size: 16px
    }
}
@media screen and (min-width:769px) and (max-width:1366px) {
    .column.is-6 {
        margin-left: -30px;
        left: 0;
        position: initial;
        top: 0;
        margin-top: -29px
    }
    
    @media screen and (min-width:980px) {
        .container-padding {
            padding-top: 220px;
            padding-bottom: 220px;
            padding-left: 60px;
            padding-right: 40px;
            height: 100vh;
            top: -21px;
            position: relative
        }
    }
    
    .container-padding {
        padding-top: 220px;
        padding-bottom: 220px;
        padding-left: 40px;
        padding-right: 40px;
        height: 100vh;
        top: 13px;
        position: relative
    }
    
    .column.is-7.desktop {
        display: none
    }
    
    .column.is-7.desktop-lg {
        width: 40%;
        margin: auto;
        text-align: center
    }
    
    html {
        background-color: #f5f7fa;
        font-size: 14px;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        min-width: 300px;
        overflow-x: hidden;
        overflow-y: hidden;
        text-rendering: optimizeLegibility
    }
    
    #box-bg {
        background-color: rgba(100, 15, 19, .8);
        display: table
    }
    
    .holder {
        display: table-cell;
        vertical-align: middle
    }
}
@media screen and (min-width:1025px) {
    .column.is-6 {
        padding: 0
    }
    
    .container-padding {
        padding-top: 220px;
        padding-bottom: 220px;
        padding-left: 40px;
        padding-right: 40px;
        height: 100vh;
        position: relative;
        width: 70%
    }
    
    .column.is-7.desktop {
        width: 40%;
        margin: auto
    }
}
@media screen and (min-width:1367px) {
    .container-padding {
        padding-top: 220px;
        padding-bottom: 220px;
        padding-left: 40px;
        padding-right: 40px;
        height: 100vh;
        top: -1px;
        position: relative
    }
}
@media screen and (min-width:1180px) {
    .holder {
        padding-left: 40px;
        padding-right: 40px
    }
    
    .column.is-7.desktop-lg {
        display: none
    }
    
    .column.is-7.desktop {
        display: block
    }
}
@media screen and (min-width:1192px) {
    .column {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1
    }
}
